*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
  font-family: 'Play', sans-serif;
}
a{
  text-decoration: none;
  margin: 15px;
  color: whitesmoke;
  font-size: 18px;
  font-family: 'Graduate', cursive;
}
ul li{
  list-style-type: none;
  

}
ul{
  display:flex;
  justify-content: space-around;
}
/* Cambio de fuentes  */
/* font-family: 'Bona Nova', serif;
font-family: 'Fira Mono', monospace;
font-family: 'Graduate', cursive;
font-family: 'Martian Mono', monospace;
font-family: 'Play', sans-serif; */
/* header */
header{
    padding: 5px 5px;
    background-color:transparent;
    box-shadow: 3px 3px 1px 2px rgba(24, 24, 24, 0.055);
    position:fixed;
    width: 100%;
    
}
.logo-portafolio{
  width: 60px;
  border-radius: 6px;
}

.nav-links>a:hover{
 text-shadow: 2px 3px 2px rgb(161, 160, 160);
 transition: 0.4s;

}
.btn-togler{
  display: none;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-links>button{
  padding: 5px;
  margin: 0px 13px;
  cursor: pointer;
  border-radius: 100%;
}
.fa-circle-half-stroke{
  font-size:2.08em;
  padding: 8px 10px;
  color: whitesmoke;
}
.btn-darkmode{
  background-color: transparent;
  border: 0;
  
}
/*Fin header */

/* Inicio */
#Inicio{
    min-height: 100vh;
    padding: 90px 50px;
    text-align:start;
    background-image:linear-gradient(rgba(5, 0, 61, 0.745), rgba(24, 24, 24, 0.862)),url(/assets/img/wave.svg);
    background-size: cover;
    color: white;
    border-bottom: 1px solid rgb(151, 151, 151);
}
.nombreTitle{
  color: rgb(88, 90, 219);
  -webkit-text-stroke: 0.1px rgb(158, 194, 226);
}
.tituloNombre{
    margin: 2px 0px 0px;
    font-size: 4.70em;
    font-family: 'Play', sans-serif; 
    animation-name: entradaTituloInicial;
    animation-duration: 1.10s;
    animation-timing-function: linear;

}
#Inicio>.subTitulo{
    font-size: 2.0em;
    font-family:monospace;
    margin-top: 290px;
    display: inline-block;
    letter-spacing: 0.10em;
    border-right: 0.15em solid rgb(111, 168, 215);
    overflow: hidden;
    animation: typing 2.8s steps(30,end),blink step-end 0.5s infinite;
    
}
/* animacion texto */
@keyframes typing {
 from {
    width: 0%;
      } 
to {
    width: 27%;
  }
}
/* animacion cursor */

@keyframes blink {
  from,to{
    border-color: transparent;
  }
  50%{
    border-color: rgb(111, 168, 215);
  }
}
  .btn-cv{
    background-color: transparent;
    padding: 15px;
    margin: 0;
    font-size: 1.2em;
    border:1px solid rgb(14, 82, 131);
    border-radius: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: sans-serif;
   
  }
  .btn-cv:hover{
    background-color: rgb(14, 82, 131);
    transition: 1.2s;
  }
  .cont-btn-cv{
    padding:25px 0px 0px;
  }
  .btn>i{
    padding: 4px;
  }
/*Fin inicio */

@keyframes entradaTituloInicial {
  from{
    transform: translateX(3%);
  }
  to{
    transform: translateX(0%);
  }
}


/* About me  */
#sobreMi{
  min-height: 100vh;
  padding: 40px 0px;
  background-color: azure;
  
}
.cont-btn-inicio{
    padding:50px;
  
}
.cont-btn-inicio>.btn{
    padding: 24px;
    margin:0px 9px;
    border-radius: 100%;
    color:rgb(255, 255, 255);
    background: rgb(245,245,221);
    background: radial-gradient(circle, rgb(193, 196, 199) 0%, rgb(74, 134, 207) 33%, rgba(56, 77, 196, 0.418) 80%);
    border: 1px solid black;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.562);
    font-weight: bold;
  }
  .cont-btn-inicio>.btn:hover{
    background: rgb(134, 141, 235);
    color: black;
    transition: 1.2s;

  }


.img-perfil>img{
  width: 200px;
  border-radius: 100%;
  border: 1px solid grey;
  margin: 2px auto;
}
.img-perfil{
  width: 200px;
  margin: 0 auto;
  
}
fieldset{
  border: none;
}
.cont-sobremi{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img-skill>img{
  width: 100px;
  height:85px;
  padding: 10px;
}
.fila{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  column-gap: 4px;
}

.card{
  border: 5px solid #af0bac;
  border-radius: 100%;
  margin: 2px;
  padding: 5px;

}
.img-skill>figcaption{
  text-align: center;
  font-size: 14px;
}
.datos-skill{
  display: block;
  padding: 9px 1px;
}
.cont-perfil>h5,.cont-skill>h5{
  padding:10px 4px 40px;
  text-align:center;
  margin: 10px;
  font-size: 20px;
}

.cont-info{
  padding: 15px;
  text-align: center;
}
.cont-info fieldset label{
  text-align: start;
  margin-left: 115px;
}


/*FIN Sobre mi */


/* Seccion proyectos */

.cont-card-proyecto{
  background-color: rgb(178, 214, 214);
  padding: 30px 0px;
}
.cont-img-proyecto>img{
  width: 240px;
  border-radius: 7px;
  border: 1px solid grey;
}
.cont-img-proyecto{
  padding: 24px;
    
}
.row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5px;
}

/* Fin seccion  proyectos */

/* Seccion contacto */
.cont-form{
  margin: 30px;
  display: flex;
  justify-content: center;
}
form{
  background-color: rgb(7, 44, 79);
  padding:100px;
  margin-top: 80px;
  border-radius: 20px;

}
.sep-contacto{
  margin: 10px 0px;
}
.sep-contacto>input,textarea{
  display: block;
  width: 100%;
  resize: none;
}

.cont-btn-enviar{
  text-align: center;
}
.cont-btn-enviar>button{
  padding: 5px;
  width: 100%;
  margin: 10px 0px;
  background-color: rgb(8, 126, 25);
  color: white;
  cursor: pointer;
}
.sep-contacto>input{
  background-color: transparent;
  border: 2px solid #31d9ff;
  color:#eee;
  height: 2em;
  padding: 25px 6px;
  font-size: 1em;
}

.sep-contacto label{
  display: block;
  opacity: 1;
  transition: all 0.3s;
  font-size: 1.0em;
  color:rgb(234, 232, 232);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 2px;
}

/* Fin seccion contacto  */



/* Footer */

footer{
  padding:30px;
  margin: 0;
}
.btn>.fa-brands{
  font-size: 24px;
}
.copyright,.rrss-footer{
  text-align: center;
  margin: 16px;
}
.copyright>h5{
  font-size: 15px;
}
.footer-user{
  text-decoration:none;
}
/* Fin de footer  */


/* Multi selectores */
#sobreMi,#Contacto,#Proyectos{
  min-height: 100vh;
  padding: 40px 0px;
  background-color: azure;
  
}
#sobreMi>h2,#Proyectos>h2,#Contacto>h2{
  padding: 60px 47px 20px;
}
#sobreMi>h3,#Proyectos>h3{
  padding:20px 50px;
}


/* Fin multi selectores */