*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* header */
header{
    padding: 5px 5px;
    background-color: rgb(49, 48, 48);
    box-shadow: 3px 2px 4px 4px rgba(24, 24, 24, 0.452);
    position:fixed;
    width: 100%;
}
.logo-portafolio{
  width: 130px;
  border-radius: 6px;
}
.nav-links>a{
  margin: 6px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-links>button{
  padding: 5px;
  margin: 0px 13px;
  cursor: pointer;
  border-radius: 100%;
}
.fa-circle-half-stroke{
  font-size: 20px;
}
/*Fin header */

/* Inicio */
#Inicio{
    min-height: 100vh;
    padding: 50px;
    text-align: center;
    background-image:linear-gradient(rgba(7, 7, 7, 0.842), rgba(24, 24, 24, 0.884)),url(/assets/img/bginicio.webp);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    border-bottom: 2px solid grey;

}
#Inicio>.tituloNombre{
    padding: 290px 0px 0px;
    font-size: 41px;
}
#Inicio>.subTitulo{
    font-size: 27px;
}
.cont-btn-inicio{
    padding: 20px;
}
.cont-btn-inicio>.btn{
    padding: 8px;
    margin: 0px 9px;
    border-radius: 7px;
    color:black;
    background: rgb(245,245,221);
    background: radial-gradient(circle, rgba(245,245,221,1) 0%, rgba(228,228,171,1) 33%, rgb(241, 241, 162) 80%);
    border: 1px solid black;
    text-decoration: none;
  }
  .btn>i{
    padding: 4px;
  }
/*Fin inicio */



/* About me  */
#sobreMi{
  min-height: 100vh;
  padding: 40px 0px;
  background-color: azure;
  
}


.img-perfil>img{
  width: 200px;
  border-radius: 100%;
  border: 1px solid grey;
}
fieldset{
  border: none;
}
.cont-sobremi{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img-skill>img{
  width: 100px;
  height:85px;
  padding: 10px;
}
.fila{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  column-gap: 4px;
}

.card{
  border: 5px solid #af0bac;
  border-radius: 100%;
  margin: 2px;
  padding: 5px;

}
.card>figcaption{
  text-align: center;
  font-size: 12px;
}
.datos-skill{
  display: block;
  padding: 9px 1px;
}
.cont-perfil>h5,.cont-skill>h5{
  padding:10px 4px 40px;
  text-align:center;
  margin: 10px;
  font-size: 20px;
}
.cont-info{
  padding: 15px;
}
.btn-cv{
  background-color: rgb(249, 228, 252);
  padding: 5px;
  border: 3px solid rgb(130, 72, 172);
  border-radius: 4px;
  text-decoration: none;
  font-family: fantasy;
  box-shadow: 3px 4px rgba(128, 128, 128, 0.301);
}
.cont-btn-cv{
  padding:25px 30px 10px;
}
/*FIN Sobre mi */


/* Seccion proyectos */

.cont-card-proyecto{
  background-color: #af0bac;
}
.cont-img-proyecto>img{
  width: 240px;
  border-radius: 7px;
  border: 1px solid grey;

}
.cont-img-proyecto{
  padding: 5px;
  
}
.row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5px;
}

/* Fin seccion  proyectos */

/* Seccion contacto */
.cont-form{
  margin: 30px;
  display: flex;
  justify-content: center;
}
form{
  background-color: rgb(195, 217, 237);
  padding:40px;
  border-radius: 5px;
}
.sep-contacto{
  margin: 10px 0px;
}
.sep-contacto>input,textarea{
  display: block;
  width: 100%;
}
.cont-btn-enviar{
  text-align: center;
}
.cont-btn-enviar>button{
  padding: 5px;
}

/* Fin seccion contacto  */



/* Footer */

footer{
  padding:30px;
  margin: 0;
}
.btn>.fa-brands{
  font-size: 24px;
}
.copyright,.rrss-footer{
  text-align: center;
  margin: 16px;
}
.copyright>h5{
  font-size: 15px;
}
.footer-user{
  text-decoration:none;
}
/* Fin de footer  */


/* Multi selectores */
#sobreMi,#Contacto,#Proyectos{
  min-height: 100vh;
  padding: 40px 0px;
  background-color: azure;
  
}
#sobreMi>h2,#Proyectos>h2,#Contacto>h2{
  padding: 60px 47px 20px;
}
#sobreMi>h3,#Proyectos>h3{
  padding:20px 50px;
}


/* Fin multi selectores */