@media only screen and (max-width:700px){
    .menu{
        position: absolute;
        display: block;
        min-height: 30vh;
        text-align: center;
        transform: translateX(120%);      
        padding: 80px;
        width: 700px;
        margin-top: 12px;
    
        
    }
    .nav-links{
        padding:5px 20px;
    }
    #Inicio{
        padding: 0px 20px;

    }
    
    .tituloNombre{
        font-size: 3.2em;
    }
    .btn-togler{
        display:inline-block;
        background-color: transparent;
        border: 0;
        padding: 10px;
        cursor:pointer;
      
      
        
    }
    .btn-togler-event{
        transform: translate(-49%,12%);
        background-color: transparent;
        transition: all 1s;
  

    }
    .btn-togler>i{
        font-size: 2.75em;
        color: whitesmoke;
        padding: 5px;
        
        
    }
    #Inicio>.subTitulo{
        margin-top: 300px;
        font-size: 1.5em;
        letter-spacing: 0.10em;
        border-right: 0.15em solid rgb(111, 168, 215);
        overflow: hidden;
        animation: typing 2.2s steps(30,end),blink step-end 0.5s infinite;
        
    }
    /* animacion texto */
    @keyframes typing {
     from {
        width: 0%;
          } 
    to {
        width: 52%;
      }
    }
    /* animacion cursor */
    
    @keyframes blink {
      from,to{
        border-color: transparent;
      }
      50%{
        border-color: rgb(111, 168, 215);
      }
    }

}
@media only screen and (min-width:702px) and (max-width:1280px) {
    #Inicio>.subTitulo{
        animation: typing 1.2s steps(30,end),blink step-end 0.5s infinite;
    }
    @keyframes typing {
        from {
           width: 0%;
             } 
       to {
           width:51%;
         }
       }
       /* animacion cursor */
       
       @keyframes blink {
         from,to{
           border-color: transparent;
         }
         50%{
           border-color: rgb(111, 168, 215);
         }
       }
}

