@media only screen and (max-width:700px){
    .menu{
        position: absolute;
        display: block;
        min-height: 30vh;
        text-align: center;
        padding: 80px;
        width: 700px;
        transform: translate(-180%,2%);
        
    }
    .nav-links{
        padding:5px 20px;
    }
    #Inicio{
        padding: 0px 20px;

    }
    .tituloNombre{
        font-size: 3.2em;
    }
    .btn-togler{
        display:inline-block;
        background-color: transparent;
        border: 0;
        padding: 10px;
        cursor:pointer;
      
        
    }
    .btn-togler-event{
        transform: translate(-54%,12%);
        background-color: rgb(49, 49, 49);
        transition: all 1s;
        
  

    }
    .btn-togler>i{
        font-size: 2.75em;
        color: whitesmoke;
        
        
    }

}